data/.flows.json.backup
[{"id":"37ac6a17.7805a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"732ac834d3fedfae","type":"ozmap-connection","url":"https://fiberschoolclass.ozmap.com.br:9994","username":"matheus"},{"id":"11454d7a.1e66d3","type":"project","z":"37ac6a17.7805a6","name":"Project","ozmapconnection":"732ac834d3fedfae","createdAt":"","createdAt1":"","updatedAt":"","updatedAt1":"","projectId":"","projectName":"","limit":"","page":"","x":440,"y":400,"wires":[["0f8be18422bd5b16"],["0f8be18422bd5b16"]]},{"id":"33a3c9be.ed6b26","type":"box","z":"37ac6a17.7805a6","name":"Box","ozmapconnection":"732ac834d3fedfae","x":430,"y":220,"wires":[["0f8be18422bd5b16"],["0f8be18422bd5b16"]]},{"id":"8054db82.d41378","type":"inject","z":"37ac6a17.7805a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["11454d7a.1e66d3","33a3c9be.ed6b26"]]},{"id":"0f8be18422bd5b16","type":"debug","z":"37ac6a17.7805a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"0152f64d64250718","type":"createClient","z":"37ac6a17.7805a6","name":"createClient","ozmapconnection":"732ac834d3fedfae","x":540,"y":60,"wires":[["0f8be18422bd5b16"],["0f8be18422bd5b16"]]},{"id":"1fa5773a578618c2","type":"inject","z":"37ac6a17.7805a6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"status\":0,\"implanted\":true,\"code\":130,\"project\":\"6140e2c0a336560020f19075\"}","payloadType":"json","x":140,"y":60,"wires":[["0152f64d64250718"]]},{"id":"d71f28dfea568269","type":"deleteClient","z":"37ac6a17.7805a6","name":"deleteClient","ozmapconnection":"732ac834d3fedfae","x":480,"y":120,"wires":[["0f8be18422bd5b16"],["0f8be18422bd5b16"]]},{"id":"3fda188e61baa2b6","type":"inject","z":"37ac6a17.7805a6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"clientId\":\"6141fd88a336560020f1a0d8\"}","payloadType":"json","x":120,"y":120,"wires":[["d71f28dfea568269"]]}]