data/flows.json
[{"id":"37ac6a17.7805a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11454d7a.1e66d3","type":"project","z":"37ac6a17.7805a6","name":"Project","ozmapconnection":"","createdAt":"","createdAt1":"","updatedAt":"","updatedAt1":"","projectId":"","projectName":"","limit":"","page":"","x":440,"y":560,"wires":[[],[]]},{"id":"33a3c9be.ed6b26","type":"box","z":"37ac6a17.7805a6","name":"Box","ozmapconnection":"","x":440,"y":180,"wires":[[],[]]},{"id":"e917b4db.588f38","type":"client","z":"37ac6a17.7805a6","name":"Client","ozmapconnection":"","createdAt":"","createdAt1":"","updatedAt":"","updatedAt1":"","projectId":null,"projectName":null,"limit":"","page":"","x":440,"y":340,"wires":[[],[]]},{"id":"8054db82.d41378","type":"inject","z":"37ac6a17.7805a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["33a3c9be.ed6b26","e917b4db.588f38","11454d7a.1e66d3"]]},{"id":"e46f698e.c6dc48","type":"inject","z":"37ac6a17.7805a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":60,"wires":[["e966f1ec.f7b2"]]},{"id":"e966f1ec.f7b2","type":"function","z":"37ac6a17.7805a6","name":"","func":"const sum = 1+1;\nreturn sum;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":60,"wires":[["4f7cd927.f6b4d8"]]},{"id":"4f7cd927.f6b4d8","type":"debug","z":"37ac6a17.7805a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":60,"wires":[]}]